@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend;
  width: 100%;
  font-size: 14px;
  color: #1f2533;
}

.container {
  padding: 0 165px;
  max-width: 1800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li:li {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #70737c;
  white-space: nowrap;
}

.header .container {
  justify-content: space-between;
  padding: 12px 165px;
  display: flex;
  align-items: center;
}

.wrapper {
  margin-left: 64px;
  display: flex;
  align-items: center;
}

.section {
  margin-left: 45px;
  gap: 8px;
  display: flex;
}

.search {
  width: 285px;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 12px 0;
  padding-left: 20px;
  align-items: center;
  margin-left: 13px;
  display: flex;
  gap: 16px;
}

.search input {
  border: none;
}

.search img {
  margin-left: 20px;
}

.utils {
  display: flex;
  margin-left: 13px;
  gap: 24px;
}

.search input::placeholder {
  color: #70737c;
}

.utils-hamburger {
  display: none;
}

/* Responsive */

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 80px;
  }

  .header .container {
    padding: 12px 80px;
  }
}

@media screen and (max-width: 1264px) {
  ul {
    gap: 12px;
  }

  .wrapper {
    margin-left: 16px;
  }

  .search {
    width: 140px;
  }

  .search input {
    width: 60px;
  }

  .search img {
    margin-left: 0px;
  }

  .header .container {
    padding: 12px 40px;
    justify-content: center;
  }

  .utils {
    gap: 8px;
    margin-left: 8px;
  }

  ul {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    padding: 12px 20px;
    justify-content: space-between;
  }

  .section {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }

  .search input {
    display: none;
  }

  .search {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }

  .search img {
    margin-left: 0;
  }

  .utils {
    display: none;
  }

  a {
    font-size: 12px;
  }
}

@media screen and (max-width: 618px) {
  .header .container {
    justify-content: center;
  }

  .logo img {
    width: 60px;
  }

  ul a {
    font-size: 10px;
  }
  ul{
    gap: 4px;
  }

  .wrapper{
    margin-left: 15px;
  }

  .section{
    margin-left: 30px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 468px) {
  .header .container {
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
  }

  .search {
    display: none;
  }

  nav {
    display: none;
  }

  .utils {
    display: block;
    display: flex;
  }

  .utils-hamburger {
    display: block;
    margin: auto;
  }

  .utils-img {
    padding: 6px;
    border: 1px solid #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
