@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend;
  width: 100%;
  font-size: 14px;
  color: #1f2533;
}

.container {
  padding: 0 165px;
  max-width: 1800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li:li {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #70737c;
  white-space: nowrap;
}

.header .container {
  justify-content: space-between;
  padding: 12px 165px;
  display: flex;
  align-items: center;
}

.wrapper {
  margin-left: 64px;
  display: flex;
  align-items: center;
}

.section {
  margin-left: 45px;
  gap: 8px;
  display: flex;
}

.search {
  width: 285px;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 12px 0;
  padding-left: 20px;
  align-items: center;
  margin-left: 13px;
  display: flex;
  gap: 16px;
}

.search input {
  border: none;
}

.search img {
  margin-left: 20px;
}

.utils {
  display: flex;
  margin-left: 13px;
  gap: 24px;
}

.search input::placeholder {
  color: #70737c;
}

.utils-hamburger {
  display: none;
}

/* Search */

.navbar-search .container {
  display: flex;
  justify-content: space-between;
}

.big-search {
  max-width: 825px;
  width: 100%;
  flex-shrink: 0;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 17px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.big-search input {
  border: none;
  width: 90%;
}

.big-search img {
  margin-left: 30px;
}

.big-search-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-search-text p:nth-child(1) {
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
  white-space: nowrap;
}

.big-search-text p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  white-space: nowrap;
}

/* Tables */

.tables ul {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
}

.tables li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #efefef;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  gap: 8px;
  flex: 1 1 150px;
  min-width: fit-content;
  padding: 15px !important;
}

.tables li:nth-child(3),
.tables li:nth-child(4),
.tables li:nth-child(5),
.tables li:nth-child(6),
.tables li:nth-child(7) {
  gap: 16px;
}

.tables li:nth-child(1) {
  padding: 22px 31px 22px 16px;
}

.tables li:nth-child(2) {
  padding: 22px 24px 22px 16px;
}

.tables li:nth-child(3) {
  padding: 22px 20px 22px 16px;
}

.tables li:nth-child(4) {
  padding: 20px 34px 20px 16px;
}

.tables li:nth-child(5) {
  padding: 22px 36px 22px 16px;
}

.tables li:nth-child(6) {
  padding: 22px 31px 25px 16px;
}

.tables li:nth-child(7) {
  padding: 20px 30px 20px 16px;
}

/* Responsive */

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 80px;
  }

  .header .container {
    padding: 12px 80px;
  }
}

@media screen and (max-width: 1264px) {
  ul {
    gap: 12px;
  }

  .wrapper {
    margin-left: 16px;
  }

  .search {
    width: 140px;
  }

  .search input {
    width: 60px;
  }

  .search img {
    margin-left: 0px;
  }

  .header .container {
    padding: 12px 40px;
    justify-content: center;
  }

  .utils {
    gap: 8px;
    margin-left: 8px;
  }

  ul {
    font-size: 12px;
  }

  .big-search input {
    width: auto;
  }

  .big-search {
    max-width: 464px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    padding: 12px 20px;
    justify-content: space-between;
  }

  .section {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }

  .search input {
    display: none;
  }

  .search {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }

  .search img {
    margin-left: 0;
  }

  .utils {
    display: none;
  }

  a {
    font-size: 12px;
  }

  .big-search-text p {
    display: none;
  }
}

@media screen and (max-width: 618px) {
  .header .container {
    justify-content: center;
  }

  .logo img {
    width: 60px;
  }

  ul a {
    font-size: 10px;
  }
  ul {
    gap: 4px;
  }

  .wrapper {
    margin-left: 15px;
  }

  .section {
    margin-left: 30px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 468px) {
  .header .container {
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
  }

  .search {
    display: none;
  }

  nav {
    display: none;
  }

  .utils {
    display: block;
    display: flex;
  }

  .utils-hamburger {
    display: block;
    margin: auto;
  }

  .utils-img {
    padding: 6px;
    border: 1px solid #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-search .container {
    padding: 0 40px;
  }

  .tables .container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 350px) {
  .section {
    display: none;
  }

  .big-search input {
    display: none;
  }

  .tables li {
    font-size: 12px;
    gap: 0px;
  }

  .big-search img {
    margin-left: 15px;
  }

  .tables li img{
    width: 20px;
  }
}
