@font-face {
  font-family: Lexend;
  src: url(./fonts/Lexend.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend;
  width: 100%;
  font-size: 14px;
  color: #1f2533;
}

.container {
  padding: 0 165px;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li:li {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #70737c;
}

.header .container {
  justify-content: space-between;
  padding: 12px 165px;
  display: flex;
  align-items: center;
}

.wrapper {
  margin-left: 64px;
  display: flex;
  align-items: center;
}

.section {
  margin-left: 45px;
  gap: 8px;
}

.search {
  width: 285px;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 12px 0;
  padding-left: 20px;
  align-items: center;
  margin-left: 13px;
  display: flex;
  gap: 16px;
}

.search input {
  border: none;
}

.search img {
  margin-left: 20px;
}

.utils {
  display: flex;
  margin-left: 13px;
  gap: 24px;
}

.search input::placeholder {
  color: #70737c;
}

.utils-hamburger {
  display: none;
}

/* Hero */

.hero-wrapper {
  padding: 48px 76px 52px;
  background-color: #eaf1eb;
  border-radius: 24px;
  display: flex;
  background-repeat: no-repeat;
  background-image: url(./images/seedra.png), url(./images/leaf-right-top.png),
    url(./images/leaf-left-top.png), url(./images/leaf-right-middle.png),
    url(./images/leaf-left-bottom.png), url(./images/leaf-right-bottom.png);
  background-position: right 15px bottom 10px, right 0 top 15px,
    top 91px right 202px, right 0 top 35px, bottom 0 right 236px,
    bottom 0 right 0;
}

.hero-info > h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -5%;
  max-width: 700px;
  width: 100%;
}

.hero-info p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 12px;
  max-width: 560px;
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.price h1 {
  margin-left: 16px;
  font-weight: 600;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 0%;
}

.price del {
  margin-left: 21px;
  color: #70737c;
  font-weight: 600;
  font-size: 22px;
  line-height: 54px;
  letter-spacing: 0%;
}

.buttons {
  margin-top: 25px;
  gap: 12px;
}

.buttons button:nth-child(1) {
  background-color: #359740;
  color: white;
  border-radius: 8px;
  padding: 11px 33px;
  border: none;
  font-size: 16px;
  line-height: 178%;
  font-weight: 500;
  letter-spacing: -3.5%;
}

.buttons button:nth-child(2) {
  background-color: white;
  color: #359740;
  border-radius: 8px;
  padding: 11px 33px;
  border: none;
  font-size: 16px;
  line-height: 178%;
  font-weight: 500;
  letter-spacing: -3.5%;
}

.img {
  position: relative;
  justify-content: end;
}

.seedra {
  position: absolute;
  right: -450px;
}

.cost1 {
  display: none;
}

/* Hero bottom */

.bottom-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 23px 0;
  background-color: #ffe62e17;
  margin-top: 16px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-image: url("./images/leaf-left.png"), url(./images/lemon-left.png),
    url(./images/seed-left.png), url(./images/leaf-blur-left.png),
    url(./images/big-seed-right.png), url(./images/seed-blur-right.png),
    url(./images/seed-black-right.png), url(./images/leaf-blur-right.png);
  background-position: top 2px left 12px, bottom 0px left 37px,
    left 103px bottom 36px, top 50px left 142px, right 120px top 0px,
    bottom 15px right 124px, top 15px right 84px, right 0px bottom 0px;
}

.bottom-wrapper h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.5px;
  letter-spacing: -2%;
}

.bottom-wrapper p {
  font-weight: 500;
  font-size: 16px;
  list-style: 178%;
  letter-spacing: -3.5%;
  color: #70737c;
}

/* Products */

.products-header {
  padding: 48px 0;
  margin-top: 10px;
}

.products-header .container {
  display: flex;
  justify-content: space-between;
}

.products-header h2 {
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -5%;
  font-weight: 600;
}

.products-button {
  border-radius: 8px;
  border: 1px solid #efefef;
  gap: 10px;
  padding: 11px 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 178%;
  letter-spacing: -3.5%;
  color: #359740;
  background-color: #ffffff;
}


.tables ul {
  gap: 12px;
  justify-content: space-between;
}

.tables ul li {
  display: flex;
  border-radius: 8px;
  border: 2px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  gap: 16px;
  flex-wrap: wrap;
}

.tables ul li:nth-child(1) {
  padding: 22px 31px 22px 16px;
  gap: 8px;
}

.tables ul li:nth-child(2) {
  padding: 22px 24px 22px 16px;
  gap: 8px;
}

.tables ul li:nth-child(3) {
  padding: 22px 20px 22px 16px;
}

.tables ul li:nth-child(4) {
  padding: 20px 32px 20px 16px;
}

.tables ul li:nth-child(5) {
  padding: 22px 36px 22px 16px;
}

.tables ul li:nth-child(6) {
  padding: 22px 31px 25px 16px;
}

.tables ul li:nth-child(7) {
  padding: 20px 30px 20px 16px;
}

/* Products cards */

.products-cards {
  margin-top: 32px;
}

.products-cards ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.products-cards ul li {
  padding: 28px;
  border-radius: 8px;
  border: 2px solid #efefef;
}

.icon-star {
  margin-top: 351px;
}

.card-p2 {
  max-width: 310px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -4%;
}

.cards-price {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-price button {
  padding: 12px;
  border: 1px solid #efefef;
  border-radius: 8px;
  background-color: transparent;
}

.products-cards li {
  position: relative;
}

.cilantro {
  position: absolute;
  top: 28px;
  left: 28px;
}

.cards-heart {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #efefef;
}

/* Our blog. */

.our-blog {
  margin-top: 57px;
}

.our-blog .container {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 43px;
}

.our-blog button {
  padding: 11px 33px;
  border-radius: 8px;
  border: 1px solid #efefef;
  gap: 10px;
  color: #359740;
  font-weight: 500;
  font-size: 16px;
  line-height: 178%;
  letter-spacing: -3.5%;
  background-color: transparent;
}

/* Blog */

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
  column-gap: 30px;
}

.grid-text {
  max-width: 420px;
  padding: 30px 0px 30px 30px;
}

.grid1 {
  grid-area: 1/1/2/3;
  background-color: #eaf1eb;
  gap: 8px;
  background-image: url(./images/spinach.png);
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  border-radius: 12px;
}

.grid2 {
  grid-area: 2/1/3/2;
  background-color: #eaf1eb;
  background-image: url(./images/strawberry.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
}

.grid3 {
  grid-area: 2/2/3/3;
  background-color: #eaf1eb;
  background-image: url(./images/strawberry.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
}

.grid4 {
  grid-area: 1/3/3/4;
  background-color: #eaf1eb;
  background-image: url(./images/seller-woman.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
}

.grid1 .container {
  padding: 30px 0 0 30px;
}

.grid-clock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.grid-clock p {
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
}

.grid1 h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -2%;
  margin-top: 8px;
}

.grid1 p {
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
  margin-top: 4px;
}

.grid-wrapper button {
  padding: 11px 33px;
  gap: 10px;
  background-color: #ffffff;
  border: #efefef;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 178%;
  letter-spacing: -3.5%;
  color: #359740;
  margin-top: 14px;
}

.grid2 h2 {
  max-width: 286px;
}

.grid2 button{
  margin-bottom: 109px;
}

.grid4 .grid-text{
  max-width: 306px;
}

.grid-wrapper h2{
  margin-top: 8px;
}

.grid-wrapper p{
  margin-top: 4px;
}

.grid-wrapper button{
  margin-top: 14px;
}

.grid3 h2{
  max-width: 286px;
}

.grid4 p{
  max-width: 390px;
}




/* Responsive */
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 80px;
  }

  .header .container {
    padding: 12px 80px;
  }
}

@media screen and (max-width: 1264px) {
  ul {
    gap: 12px;
  }

  .wrapper {
    margin-left: 16px;
  }

  .search {
    width: 140px;
  }

  .search input {
    width: 60px;
  }

  .search img {
    margin-left: 0px;
  }

  .esdayode {
    margin-left: 20px;
  }

  .container {
    padding: 0 40px;
  }

  .header .container {
    padding: 12px 40px;
    justify-content: center;
  }

  .esdayode {
    display: none;
  }

  .utils {
    gap: 8px;
    margin-left: 8px;
  }

  ul {
    font-size: 12px;
  }

  .hero-info > h1 {
    max-width: 400px;
    font-size: 32px;
    line-height: 36px;
  }

  .price h1 {
    font-size: 32px;
    margin-left: 12px;
  }

  .hero-info > p {
    max-width: 380px;
  }

  .price {
    margin-top: 6px;
  }

  .buttons {
    margin-top: 6px;
  }

  .hero-wrapper {
    padding: 48px 42px 52px;
  }

  .tables .container ul {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    padding: 12px 20px;
    justify-content: space-between;
  }

  .search {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }

  .search input {
    display: none;
  }

  .hero-wrapper {
    padding: 0;
    background-image: url(./images/responsive-big-leaf.png),
      url(./images/responsive-seedra.png),
      url(./images/responsive-leaf-right-top.png),
      url(./images/reponsive-right-middle.png),
      url(./images/responsive-right-middle2.png),
      url(./images/responsive-right-bottom.png);
    background-repeat: no-repeat;
    background-position: left 0px top 134px, right 71px top 184px,
      top 194px right 57px, top 262px right 22px, top 220px right 10px,
      top 353px right 62px;
  }

  .cost1 {
    display: block;
  }

  .cost2 {
    display: none;
  }

  .price {
    margin-top: 0px;
    align-items: center;
  }

  .price h1 {
    color: #e55c5c;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -5%;
  }

  .hero-wrapper {
    padding: 24px;
  }

  .hero-wrapper p {
    margin-top: 235px;
  }

  .tables .container ul {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 618px) {
  .header .container {
    justify-content: center;
  }

  .utils {
    display: none;
  }

  .logo img {
    width: 60px;
  }

  ul {
    font-size: 10px;
  }
}

@media screen and (max-width: 468px) {
  .header .container {
    justify-content: space-between;
  }
  .logo img {
    width: 80px;
  }

  .search {
    display: none;
  }

  nav {
    display: none;
  }

  .utils {
    display: block;
    display: flex;
  }

  .utils-hamburger {
    display: block;
    margin: auto;
  }

  .utils-img {
    padding: 6px;
    border: 1px solid #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
