@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend;
  width: 100%;
  font-size: 14px;
  color: #1f2533;
}

.container {
  padding: 0 165px;
  max-width: 1800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li:li {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #70737c;
  white-space: nowrap;
}

.header .container {
  justify-content: space-between;
  padding: 12px 165px;
  display: flex;
  align-items: center;
}

.wrapper {
  margin-left: 64px;
  display: flex;
  align-items: center;
}

.section {
  margin-left: 45px;
  gap: 8px;
  display: flex;
}

.search {
  width: 285px;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 12px 0;
  padding-left: 20px;
  align-items: center;
  margin-left: 13px;
  display: flex;
  gap: 16px;
}

.search input {
  border: none;
}

.search img {
  margin-left: 20px;
}

.utils {
  display: flex;
  margin-left: 13px;
  gap: 24px;
}

.search input::placeholder {
  color: #70737c;
}

.utils-hamburger {
  display: none;
}

/* Search */

.navbar-search {
  margin-top: 32px;
}

.navbar-search .container {
  display: flex;
  justify-content: space-between;
}

.big-search {
  max-width: 825px;
  width: 100%;
  flex-shrink: 0;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 17px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.big-search input {
  border: none;
  width: 90%;
}

.big-search img {
  margin-left: 30px;
}

.big-search-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-search-text p:nth-child(1) {
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
  white-space: nowrap;
}

.big-search-text p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  white-space: nowrap;
}

/* Tables */

.tables {
  margin-top: 25px;
}

.tables ul {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
}

.tables li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #efefef;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  gap: 8px;
  flex: 1 1 150px;
  min-width: fit-content;
  padding: 15px !important;
}

.tables li:nth-child(3),
.tables li:nth-child(4),
.tables li:nth-child(5),
.tables li:nth-child(6),
.tables li:nth-child(7) {
  gap: 16px;
}

.tables li:nth-child(1) {
  padding: 22px 31px 22px 16px;
}

.tables li:nth-child(2) {
  padding: 22px 24px 22px 16px;
}

.tables li:nth-child(3) {
  padding: 22px 20px 22px 16px;
}

.tables li:nth-child(4) {
  padding: 20px 34px 20px 16px;
}

.tables li:nth-child(5) {
  padding: 22px 36px 22px 16px;
}

.tables li:nth-child(6) {
  padding: 22px 31px 25px 16px;
}

.tables li:nth-child(7) {
  padding: 20px 30px 20px 16px;
}

/* Products cards */

.products-cards {
  margin-top: 32px;
}

.products-cards ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.products-cards ul li {
  padding: 28px;
  border-radius: 8px;
  border: 2px solid #efefef;
}

.icon-star {
  margin-top: 351px;
}

.card-p2 {
  max-width: 310px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -4%;
}

.cards-price {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-price button {
  padding: 12px;
  border: 1px solid #efefef;
  border-radius: 8px;
  background-color: transparent;
}

.products-cards li {
  position: relative;
}

.cilantro {
  position: absolute;
  top: 28px;
  left: 28px;
}

.cards-heart {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #efefef;
}

/* Footer */

.footer .container {
  margin-bottom: 28px;
}

.footer-top {
  display: flex;
  padding: 41px 0;
}

.footer-top p:not(:last-child) {
  border-right: 1px solid #efefef;
}

.footer-top p {
  margin-right: 32px;
  padding-right: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 178%;
  letter-spacing: -3.5%;
  color: #70737c;
}

.footer-top p:nth-child(1) {
  color: #359740;
}

.footer-top p:nth-child(3) {
  border: none;
  padding: 0;
  margin: 0;
}

.footer-top img {
  margin-left: 75px;
  margin-right: 70px;
}

.footer-bottom {
  justify-content: space-between;
  display: flex;
  margin-top: 19px;
}

.footer-bottom img {
  color: #359740;
}

.footer-bottom-icons {
  display: flex;
  gap: 24px;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
}

/* Responsive */

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 80px;
  }

  .header .container {
    padding: 12px 80px;
  }
}

@media screen and (max-width: 1264px) {
  ul {
    gap: 12px;
  }

  .wrapper {
    margin-left: 16px;
  }

  .search {
    width: 140px;
  }

  .search input {
    width: 60px;
  }

  .search img {
    margin-left: 0px;
  }

  .header .container {
    padding: 12px 40px;
    justify-content: center;
  }

  .utils {
    gap: 8px;
    margin-left: 8px;
  }

  ul {
    font-size: 12px;
  }

  .big-search input {
    width: auto;
  }

  .big-search {
    max-width: 464px;
    width: 100%;
  }

  .section {
    margin-left: 28px;
  }

  footer .container {
    padding: 0 20px;
  }

  .footer-top img {
    margin: 16px 16px;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    padding: 12px 20px;
    justify-content: space-between;
  }

  .section {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }

  .search input {
    display: none;
  }

  .search {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }

  .search img {
    margin-left: 0;
  }

  .utils {
    display: none;
  }

  a {
    font-size: 12px;
  }

  .big-search-text p {
    display: none;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-top p {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }

  .footer-top img {
    margin: 10px 0;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 618px) {
  .header .container {
    justify-content: center;
  }

  .logo img {
    width: 60px;
  }

  ul a {
    font-size: 10px;
  }
  ul {
    gap: 4px;
  }

  .wrapper {
    margin-left: 15px;
  }

  .section {
    margin-left: 20px;
    margin-right: 10px;
  }

  .testimonials-cards {
    flex-wrap: wrap;
  }

  .search {
    margin-left: 0px;
  }

  .cilantro {
    width: 250px;
  }

  .icon-star {
    margin-top: 280px;
  }
}

@media screen and (max-width: 468px) {
  .header .container {
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
  }

  .search {
    display: none;
  }

  nav {
    display: none;
  }

  .utils {
    display: block;
    display: flex;
  }

  .utils-hamburger {
    display: block;
    margin: auto;
  }

  .utils img {
    padding: 6px;
    border: 1px solid #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-search .container {
    padding: 0 40px;
  }

  .tables .container {
    padding: 0 40px;
  }

  .cilantro {
    width: 220px;
  }

  .products-cards .container {
    padding: 0 40px;
  }

  .icon-star {
    margin-top: 250px;
  }
}

@media screen and (max-width: 350px) {
  .section {
    display: none;
  }

  .big-search input {
    display: none;
  }

  .tables li {
    font-size: 12px;
    gap: 0px;
  }

  .big-search img {
    margin-left: 15px;
  }

  .tables li img {
    width: 20px;
  }

  .cilantro {
    width: 160px;
  }

  .icon-star {
    margin-top: 170px;
  }
}
