/* Navbar */

.header .container {
  justify-content: space-between;
  padding: 12px 165px;
  display: flex;
  align-items: center;
}

.wrapper {
  margin-left: 64px;
  display: flex;
  align-items: center;
}

.section {
  margin-left: 45px;
  gap: 8px;
}

.search {
  width: 285px;
  border: 1px solid #efefef;
  border-radius: 71px;
  padding: 12px 0;
  padding-left: 20px;
  align-items: center;
  margin-left: 13px;
  display: flex;
  gap: 16px;
}

.search input {
  border: none;
}

.search img {
  margin-left: 20px;
}

.utils {
  display: flex;
  margin-left: 13px;
  gap: 24px;
}

.search input::placeholder {
  color: #70737c;
}

.utils-hamburger {
  display: none;
}

/* Hero */

/* Bu kodlar reset.css ga otkazildi sabab img lar boyicha muammo */
/* .hero-wrapper {
  padding: 48px 76px 52px;
  background-color: #eaf1eb;
  border-radius: 24px;
  display: flex;
  background-repeat: no-repeat;
  background-image: url(./images/seedra.png), url(./images/leaf-right-top.png),
    url(./images/leaf-left-top.png), url(./images/leaf-right-middle.png),
    url(./images/leaf-left-bottom.png), url(./images/leaf-right-bottom.png);
  background-position: right 15px bottom 10px, right 0 top 15px,
    top 91px right 202px, right 0 top 35px, bottom 0 right 236px,
    bottom 0 right 0;
} */

.hero-info > h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -5%;
  max-width: 700px;
  width: 100%;
}

.hero-info p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 12px;
  max-width: 560px;
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.price h1 {
  margin-left: 16px;
  font-weight: 600;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 0%;
}

.price del {
  margin-left: 21px;
  color: #70737c;
  font-weight: 600;
  font-size: 22px;
  line-height: 54px;
  letter-spacing: 0%;
}

.buttons {
  margin-top: 25px;
  gap: 12px;
}

.buttons button:nth-child(1) {
  background-color: #359740;
  color: white;
  border-radius: 8px;
  padding: 11px 33px;
  border: none;
  font-size: 16px;
  line-height: 178%;
  font-weight: 500;
  letter-spacing: -3.5%;
}

.buttons button:nth-child(2) {
  background-color: white;
  color: #359740;
  border-radius: 8px;
  padding: 11px 33px;
  border: none;
  font-size: 16px;
  line-height: 178%;
  font-weight: 500;
  letter-spacing: -3.5%;
}

.img {
  position: relative;
  justify-content: end;
}

.seedra {
  position: absolute;
  right: -450px;
}

.cost1 {
  display: none;
}

/* Hero bottom */

/* Bu kodlar reset.css ga otkazildi sabab img lar boyicha muammo */
/* .bottom-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 23px 0;
  background-color: #ffe62e17;
  margin-top: 16px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-image: url("./images/leaf-left.png"), url(./images/lemon-left.png),
    url(./images/seed-left.png), url(./images/leaf-blur-left.png),
    url(./images/big-seed-right.png), url(./images/seed-blur-right.png),
    url(./images/seed-black-right.png), url(./images/leaf-blur-right.png);
  background-position: top 2px left 12px, bottom 0px left 37px,
    left 103px bottom 36px, top 50px left 142px, right 120px top 0px,
    bottom 15px right 124px, top 15px right 84px, right 0px bottom 0px;
} */

.bottom-wrapper h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.5px;
  letter-spacing: -2%;
}

.bottom-wrapper p {
  font-weight: 500;
  font-size: 16px;
  list-style: 178%;
  letter-spacing: -3.5%;
  color: #70737c;
}

/* Products */

.products-header {
  padding: 48px 0;
  margin-top: 10px;
}

.products-header .container {
  display: flex;
  justify-content: space-between;
}

.products-header h2 {
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -5%;
  font-weight: 600;
}

.products-button {
  border-radius: 8px;
  border: 1px solid #efefef;
  gap: 10px;
  padding: 11px 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 178%;
  letter-spacing: -3.5%;
  color: #359740;
  background-color: #ffffff;
}

/* Tables */

.tables {
  margin-top: 25px;
}

.tables ul {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
}

.tables li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #efefef;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  gap: 8px;
  flex: 1 1 150px;
  min-width: fit-content;
  padding: 15px !important;
}

.tables li:nth-child(3),
.tables li:nth-child(4),
.tables li:nth-child(5),
.tables li:nth-child(6),
.tables li:nth-child(7) {
  gap: 16px;
}

.tables li:nth-child(1) {
  padding: 22px 31px 22px 16px;
}

.tables li:nth-child(2) {
  padding: 22px 24px 22px 16px;
}

.tables li:nth-child(3) {
  padding: 22px 20px 22px 16px;
}

.tables li:nth-child(4) {
  padding: 20px 34px 20px 16px;
}

.tables li:nth-child(5) {
  padding: 22px 36px 22px 16px;
}

.tables li:nth-child(6) {
  padding: 22px 31px 25px 16px;
}

.tables li:nth-child(7) {
  padding: 20px 30px 20px 16px;
}

/* Products cards */

.products-cards {
  margin-top: 32px;
}

.products-cards ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.products-cards ul li {
  padding: 28px;
  border-radius: 8px;
  border: 2px solid #efefef;
}

.icon-star {
  margin-top: 351px;
}

.card-p2 {
  max-width: 310px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -4%;
}

.cards-price {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-price button {
  padding: 12px;
  border: 1px solid #efefef;
  border-radius: 8px;
  background-color: transparent;
}

.products-cards li {
  position: relative;
}

.cilantro {
  position: absolute;
  top: 28px;
  left: 28px;
}

.cards-heart {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #efefef;
}

/* Our blog. */

.our-blog {
  margin-top: 57px;
}

.our-blog .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 43px;
}

.our-blog button {
  padding: 11px 33px;
  border-radius: 8px;
  border: 1px solid #efefef;
  gap: 10px;
  color: #359740;
  font-weight: 500;
  font-size: 16px;
  line-height: 178%;
  letter-spacing: -3.5%;
  background-color: transparent;
}

/* Blog */

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
  column-gap: 30px;
}

.grid-text {
  max-width: 420px;
  padding: 30px 0px 30px 30px;
}

/* Bu kodlar reset.css ga otkazildi sabab img lar boyicha muammo */
/* .grid1 {
  grid-area: 1/1/2/3;
  background-color: #eaf1eb;
  gap: 8px;
  background-image: url(./images/spinach.png);
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  border-radius: 12px;
} */

/* Bu kodlar reset.css ga otkazildi sabab img lar boyicha muammo */
/* .grid2 {
  grid-area: 2/1/3/2;
  background-color: #eaf1eb;
  background-image: url(./images/strawberry.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
} */

/* Bu kodlar reset.css ga otkazildi sabab img lar boyicha muammo */
/* .grid3 {
  grid-area: 2/2/3/3;
  background-color: #eaf1eb;
  background-image: url(./images/strawberry.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
} */

/* Bu kodlar reset.css ga otkazildi sabab img lar boyicha muammo */
/* .grid4 {
  grid-area: 1/3/3/4;
  background-color: #eaf1eb;
  background-image: url(./images/seller-woman.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
} */

.grid1 .container {
  padding: 30px 0 0 30px;
}

.grid-clock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.grid-clock p {
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
}

.grid1 h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -2%;
  margin-top: 8px;
}

.grid1 p {
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
  margin-top: 4px;
}

.grid-wrapper button {
  padding: 11px 33px;
  gap: 10px;
  background-color: #ffffff;
  border: #efefef;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 178%;
  letter-spacing: -3.5%;
  color: #359740;
  margin-top: 14px;
}

.grid2 h2 {
  max-width: 286px;
}

.grid2 button {
  margin-bottom: 109px;
}

.grid4 .grid-text {
  max-width: 306px;
}

.grid-wrapper h2 {
  margin-top: 8px;
}

.grid-wrapper p {
  margin-top: 4px;
}

.grid-wrapper button {
  margin-top: 14px;
}

.grid3 h2 {
  max-width: 286px;
}

.grid4 p {
  max-width: 390px;
}

/* Testimonials nav */

.testimonials-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 51px 0;
}

.testimonials-nav h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -5%;
  line-height: 54px;
}

/* Testimonials */

.testimonials .container {
  padding: 0;
}

.testimonials-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.testimonials-card {
  padding: 35px;
  border: 1px solid #efefef;
  border-radius: 12px;
}

.man-info {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 28px;
}

.name-date h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -4%;
}

.name-data p {
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
}

.testimonials-card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  max-width: 467px;
}

/* Pagination */

.pagination .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 48px;
  gap: 5px;
}

/* Product overview */

.product-overview .container {
  padding-top: 63px;
  padding-bottom: 92px;
}

.product-overview-text {
  max-width: 500px;
}

/* Bu kodlar reset.css ga otkazildi sabab img lar boyicha muammo */
/* .product-overview .container {
  background-repeat: no-repeat;
  background-image: url(./images/farm-girl.png),
    url(./images/farm-leaf-right-middle.png),
    url(./images/farm-leaf-left-top.png),
    url(./images/farm-leaf-left-bottom.png),
    url(./images/farm-leaf-right-top.png), url(./images/farm-girl-border.png),
    url(./images/farm-leaf-right-bottom.png);
  background-position: right 173px bottom 92px, right 35px bottom 334px,
    bottom 393px right 562px, right 539px bottom 61px, right 193px bottom 554px,
    right 142px bottom 61px, right 0px bottom 190px;
} */

.product-overview-text h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -5%;
}

.product-overview-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
}

.product-overview-text p:nth-child(2) {
  margin-top: 26px;
}

.product-overview-text p:nth-child(3) {
  margin-top: 26px;
}

.product-overview-text p:nth-child(4) {
  margin-top: 4px;
  text-indent: 6px;
}

.product-overview-text p:nth-child(5) {
  margin-top: 4px;
}

.product-overview-text p:nth-child(6) {
  margin-top: 26px;
  text-indent: 6px;
}

/* Footer */

.footer .container {
  margin-bottom: 28px;
}

.footer-top {
  display: flex;
  padding: 41px 0;
}

.footer-top p:not(:last-child) {
  border-right: 1px solid #efefef;
}

.footer-top p {
  margin-right: 32px;
  padding-right: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 178%;
  letter-spacing: -3.5%;
  color: #70737c;
}

.footer-top p:nth-child(1) {
  color: #359740;
}

.footer-top p:nth-child(3) {
  border: none;
  padding: 0;
  margin: 0;
}

.footer-top img {
  margin-left: 75px;
  margin-right: 70px;
}

.footer-bottom {
  justify-content: space-between;
  display: flex;
  margin-top: 19px;
}

.footer-bottom img {
  color: #359740;
}

.footer-bottom-icons {
  display: flex;
  gap: 24px;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 400;
  line-height: 178%;
  letter-spacing: 0%;
  color: #70737c;
}

/* Responsive */

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 80px;
  }

  .header .container {
    padding: 12px 80px;
  }
}

@media screen and (max-width: 1264px) {
  ul {
    gap: 12px;
  }

  .wrapper {
    margin-left: 16px;
  }

  .search {
    width: 140px;
  }

  .search input {
    width: 60px;
  }

  .search img {
    margin-left: 0px;
  }

  .esdayode {
    margin-left: 20px;
  }

  .container {
    padding: 0 40px;
  }

  .header .container {
    padding: 12px 40px;
    justify-content: center;
  }

  .esdayode {
    display: none;
  }

  .utils {
    gap: 8px;
    margin-left: 8px;
  }

  ul {
    font-size: 12px;
  }

  .hero-info > h1 {
    max-width: 400px;
    font-size: 32px;
    line-height: 36px;
  }

  .price h1 {
    font-size: 32px;
    margin-left: 12px;
  }

  .hero-info > p {
    max-width: 380px;
  }

  .price {
    margin-top: 6px;
  }

  .buttons {
    margin-top: 6px;
  }

  .hero-wrapper {
    padding: 48px 42px 52px;
  }

  .section {
    margin-left: 28px;
  }

  footer .container {
    padding: 0 20px;
  }

  .footer-top img {
    margin: 16px 16px;
  }
}

@media screen and (max-width: 1024px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }

  .grid1 {
    grid-area: auto;
  }

  .grid2 {
    grid-area: auto;
  }

  .grid3 {
    grid-area: auto;
  }

  .grid4 {
    grid-area: auto;
  }

  .grid-text {
    max-width: 100%;
  }

  .testimonials-cards {
    gap: 10px;
  }

  .testimonials-card {
    padding: 20px;
  }

  .name-date h3 {
    font-size: 16px;
  }

  .product-overview .container {
    padding-bottom: 500px;
    background-size:
      271px 284px,
      85px 79px,
      56px 52px,
      63px 72px,
      24px 23px,
      322px 322px,
      53px 58px;
    background-position:
      bottom 98px center,
      right 35px bottom 167px,
      left 35px bottom 282px,
      left 0 bottom 79px,
      right 80px bottom 380px,
      bottom 79px center,
      right 30px bottom 19px;
  }

  .product-overview-text {
    text-align: center;
    margin: auto;
  }

  .header .container {
    padding: 12px 40px;
    justify-content: center;
  }

  ul {
    gap: 12px;
    font-size: 12px;
  }

  .wrapper {
    margin-left: 16px;
  }

  .search {
    width: 140px;
  }

  .search input {
    width: 60px;
  }

  .search img {
    margin-left: 0;
  }

  .utils {
    gap: 8px;
    margin-left: 8px;
  }

  .section {
    margin-left: 28px;
  }

  footer .container {
    padding: 0 20px;
  }

  .footer-top img {
    margin: 16px 16px;
  }
}

@media screen and (max-width: 864px) {
  .testimonials-card > p {
    font-size: 13px;
  }

  .name-date h3 {
    font-size: 14px;
  }

  .man-info {
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    padding: 12px 20px;
    justify-content: space-between;
  }

  .search {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }

  .search input {
    display: none;
  }

  /* Bu kod reset.css ga o'tkazildi sabab img lar boyicha muammo */
  /* .hero-wrapper {
    padding: 0;
    background-image:
      url(./images/responsive-big-leaf.png),
      url(./images/responsive-seedra.png),
      url(./images/responsive-leaf-right-top.png),
      url(./images/reponsive-right-middle.png),
      url(./images/responsive-right-middle2.png),
      url(./images/responsive-right-bottom.png);
    background-repeat: no-repeat;
    background-position:
      left 0px top 134px,
      right 71px top 184px,
      top 194px right 57px,
      top 262px right 22px,
      top 220px right 10px,
      top 353px right 62px;
  } */

  .cost1 {
    display: block;
  }

  .cost2 {
    display: none;
  }

  .price {
    margin-top: 0px;
    align-items: center;
  }

  .price h1 {
    color: #e55c5c;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -5%;
  }

  .hero-wrapper {
    padding: 24px;
  }

  .hero-wrapper p {
    margin-top: 235px;
  }

  .tables .container ul {
    flex-wrap: wrap;
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 18px;
  }

  .grid1,
  .grid2,
  .grid3,
  .grid4 {
    grid-area: auto;
    background-position: center right;
    border-radius: 12px;
    padding: 0;
  }

  .grid-text {
    max-width: 100%;
    padding: 20px;
  }

  .grid1 .container {
    padding: 16px;
  }

  .grid2 button {
    margin-bottom: 0;
  }

  .grid-wrapper h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .grid-wrapper p {
    font-size: 14px;
  }

  .header .container {
    padding: 12px 20px;
    justify-content: space-between;
  }

  .section {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }

  .search {
    width: 38px;
    padding: 10px 0;
    justify-content: center;
  }

  .search img {
    margin-left: 0;
  }

  .utils {
    display: none;
  }

  .wrapper ul {
    gap: 4px;
    font-size: 10px;
  }

  .section {
    margin-left: 12px;
    gap: 4px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-top p {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }

  .footer-top img {
    margin: 10px 0;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 618px) {
  .header .container {
    justify-content: center;
  }

  .utils {
    display: none;
  }

  .logo img {
    width: 60px;
  }

  ul {
    font-size: 10px;
  }

  .testimonials-cards {
    flex-wrap: wrap;
  }

  .testimonials-card:nth-child(2),
  .testimonials-card:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 468px) {
  .header .container {
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
  }

  .search {
    display: none;
  }

  nav {
    display: none;
  }

  .utils {
    display: block;
    display: flex;
  }

  .utils-hamburger {
    display: block;
    margin: auto;
  }

  .utils img {
    padding: 6px;
    border: 1px solid #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our-blog button {
    padding: 11px 10px;
  }

  .our-blog h2 {
    font-size: 20px;
  }

  .cilantro {
    width: 220px;
  }

  .testimonials-nav .container h1 {
    font-size: 22px;
  }

  .testimonials .container {
    padding: 0 10px;
  }

  .product-overview .container {
    padding-bottom: 500px;
    background-size:
      271px 284px,
      85px 79px,
      56px 52px,
      63px 72px,
      24px 23px,
      322px 322px,
      53px 58px;
    background-position:
      bottom 98px center,
      right 35px bottom 167px,
      left 35px bottom 282px,
      left 0 bottom 79px,
      right 80px bottom 380px,
      bottom 79px center,
      right 30px bottom 19px;
  }

  .tables .container {
    padding: 0 40px;
  }

  nav {
    display: none;
  }

  .search {
    display: none;
  }

  .utils {
    display: flex;
  }

  .utils-hamburger {
    display: block;
    margin: auto;
  }

  .utils img {
    padding: 6px;
    border: 1px solid #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .price img {
    width: 40px;
  }

  .price h1 {
    font-size: 24px;
    margin: 0 0 0 8px;
  }

  .price del {
    font-size: 20px;
    margin: 0 0 0 8px;
  }

  .hero-wrapper h1 {
    font-size: 24px;
  }

  .buttons {
    gap: 5px;
    flex-direction: column;
    display: flex;
  }

  /* Bu kod reset.css ga o'tkazildi sabab img lar boyicha muammo */
  /* .hero-wrapper {
    background-image: url(./images/cilantro.png);
    background-size: 200px;
    background-position: bottom 360px center;
  } */

  .products-header h2 {
    font-size: 20px;
    line-height: 24px;
    align-items: center;
  }

  .icon-star {
    margin-top: 260px;
  }
}

@media screen and (max-width: 350px) {
  .tables li {
    font-size: 12px;
    gap: 0;
  }

  .tables li img {
    width: 20px;
  }
  .section{
    display: none;
  }
}
