@font-face {
  font-family: Lexend;
  src: url(../assets/fonts/Lexend.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend;
  width: 100%;
  font-size: 14px;
  color: #1f2533;
}

.container {
  padding: 0 165px;
  max-width: 1800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li:li {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #70737c;
  white-space: nowrap;
}

.hero-wrapper {
  padding: 48px 76px 52px;
  background-color: #eaf1eb;
  border-radius: 24px;
  display: flex;
  background-repeat: no-repeat;
  background-image:
    url(../images/seedra.png), url(../images/leaf-right-top.png),
    url(../images/leaf-left-top.png), url(../images/leaf-right-middle.png),
    url(../images/leaf-left-bottom.png), url(../images/leaf-right-bottom.png);
  background-position:
    right 15px bottom 10px,
    right 0 top 15px,
    top 91px right 202px,
    right 0 top 35px,
    bottom 0 right 236px,
    bottom 0 right 0;
}

.bottom-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 23px 0;
  background-color: #ffe62e17;
  margin-top: 16px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-image:
    url("../images/leaf-left.png"), url(../images/lemon-left.png),
    url(../images/seed-left.png), url(../images/leaf-blur-left.png),
    url(../images/big-seed-right.png), url(../images/seed-blur-right.png),
    url(../images/seed-black-right.png), url(../images/leaf-blur-right.png);
  background-position:
    top 2px left 12px,
    bottom 0px left 37px,
    left 103px bottom 36px,
    top 50px left 142px,
    right 120px top 0px,
    bottom 15px right 124px,
    top 15px right 84px,
    right 0px bottom 0px;
}

.grid1 {
  grid-area: 1/1/2/3;
  background-color: #eaf1eb;
  gap: 8px;
  background-image: url(../images/spinach.png);
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  border-radius: 12px;
}

.grid2 {
  grid-area: 2/1/3/2;
  background-color: #eaf1eb;
  background-image: url(../images/strawberry.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
}

.grid3 {
  grid-area: 2/2/3/3;
  background-color: #eaf1eb;
  background-image: url(../images/strawberry.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
}

.grid4 {
  grid-area: 1/3/3/4;
  background-color: #eaf1eb;
  background-image: url(../images/seller-woman.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  border-radius: 12px;
}

.product-overview .container {
  background-repeat: no-repeat;
  background-image:
    url(../images/farm-girl.png), url(../images/farm-leaf-right-middle.png),
    url(../images/farm-leaf-left-top.png),
    url(../images/farm-leaf-left-bottom.png),
    url(../images/farm-leaf-right-top.png), url(../images/farm-girl-border.png),
    url(../images/farm-leaf-right-bottom.png);
  background-position:
    right 173px bottom 92px,
    right 35px bottom 334px,
    bottom 393px right 562px,
    right 539px bottom 61px,
    right 193px bottom 554px,
    right 142px bottom 61px,
    right 0px bottom 190px;
}

.quest-right-wrapper {
  display: flex;
  flex-direction: column;
  padding: 136px 27px 22px 26px;
  background-color: #eaf1eb;
  border-radius: 12px;
  background-image:
    url(../images/questions-leaf-left.png),
    url(../images/questions-leaf-middle.png),
    url(../images/questions-leaf-right.png);
  background-position:
    top 0 left 0,
    top 0 left 52px,
    top 46px right 0;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .hero-wrapper {
    padding: 0;
    background-image:
      url(../images/responsive-big-leaf.png),
      url(../images/responsive-seedra.png),
      url(../images/responsive-leaf-right-top.png),
      url(../images/reponsive-right-middle.png),
      url(../images/responsive-right-middle2.png),
      url(../images/responsive-right-bottom.png);
    background-repeat: no-repeat;
    background-position:
      left 0px top 134px,
      right 71px top 184px,
      top 194px right 57px,
      top 262px right 22px,
      top 220px right 10px,
      top 353px right 62px;
  }
}

@media screen and (max-width: 468px) {
  .hero-wrapper {
    background-image: url(../images/cilantro.png);
    background-size: 200px;
    background-position: bottom 360px center;
  }
}
